<h1> ***AGENDA TELEFONICA***</h1>

<img width = "100px" src="/agenda1.png"><br><br>


<ul>
<form action="http://localhost:8000/Inicio" method="get">
<a href="/Agregar">
  <input type="buttom" value= "Agregar Contacto"/><br><br>
</a>

<a href="/Eliminar">
  <input type="buttom" value= "Eliminar Contacto"/><br><br>
</a>

<a href="/Editar">
  <input type="buttom" value= "Editar Contacto"/><br><br>
</a>


<a href="/Mostrar">
  <input type="buttom" value= "Mostrar Contactos"/><br><br>
</a>

<a href="/Buscar">
  <input type="buttom" value= "Buscar Contacto"/><br><br>
</a>



</ul>
